body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#f2f1e2;
    color:#3b4f59;
    padding:0rem;
    margin:0rem;
  }
  p{
    margin: 1rem;
    line-height:1.5rem;
  }
  h1{
    background-color:#3b4f59;
    padding-block-start: 3rem;
    color:#f2f1e2;
  }
  blockquote {
    font-family:Georgia;
    font-size: 1.5rem;
    text-align: center;
    background-color:#e1b991;
    margin:2rem;
  }
  cite{
    font-size:1rem;
  }
  .block{
    background-color:#b5e9f4;
    color:#3b4f59;
  }
  blockquote.another{
    background-color:#B2B2A7;
  }
  img{
    float:right;
    padding-left: 0px;
    margin:0;
  }
  img.second{
    float:left;
    padding-left: 0px;
    margin:1rem;
  }
  li{
      display:inline-block;
      padding:1rem;
      text-align:center;
  }
  footer{
    color:#f2f1e2;
    background-color:#3b4f59;
    padding-block-end: 3rem;
    padding:1rem
  }
  a:visited{
    color:orange;
  }
  a:hover{
    color:#e1b991;
  }
  a:link{
    color:#3b4f59;
  }